@import '_reset';
@import '_variables';
@import '_footer';
@import '_index';
@import '_footer';
@import '_all-recipes';

body {
  background-color: #53354A;
  font-family: $main-font;
}

.add-recipe-form {
  display: flex;
  flex-direction: column;
  label {
    margin: 10px;
  }
}

.add-recipe-submit,
.add-recipe-cancel {
  width: 100px;
}
