body {
  background-color: rgb(133, 165, 199);
}

footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 600px;
  justify-content: space-between;
}

.add-recipe-form {
  display: flex;
  flex-direction: column;
  label {
    margin: 10px;
  }
}

.add-recipe-submit,
.add-recipe-cancel {
  width: 100px;
}
