 @import '_reset';
 @import '_variables';
 // @import '_footer';
 // @import '_all-recipes';
 // @import '_add-recipe';

 body {
  background-color: #53354A;
  font-family: $main-font;
 }

 .add-recipe-form {
  display: flex;
  flex-direction: column;
  label {
    margin: 10px;
  }
 }

 .add-recipe-submit,
 .add-recipe-cancel {
  width: 100px;
 }

 .title-new {
  font-family: $title-font;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 2em;
  color: #ff7844;
 }

 .add-recipe-form {
  overflow-y: scroll;
 }

 .add-recipe-submit {
  background: #A64942;
  border: none;
  border-radius: 5px;
  color: #1B1F3A;
  font-size: 15px;
  &:hover {
    background: #FF7844;
    color: white;
  }
 }
