<div class="all-recipes">
  <h1>All the recipes you could ever want</h1>
  <section>
    {{outlet}}
    {{!-- {{#each model as |recipe|}} --}}
      Plug in recipe-cards here{{recipe-card}}
    {{!-- {{/each}} --}}
  </section>
</div>
