<div class="all-recipes">
  <h1 class="title-all">All the recipes you could ever want</h1>
  <section class="recipe-list">
    {{#each model as |recipe|}}

    <article class="recipe-card">
      {{!-- {{#link-to ''}} --}}
      {{recipe-card recipe=recipe}}

    </article>

    {{/each}}

    <div class="recipe-card">
      <img src="" alt="food image">
      <section class="card-content">
        <h1 class="recipe-title">chocolate cake</h1>
        <p class="text">type: dessert</p>
      </section>
    </div>

    <div class="recipe-card">
      <img src="" alt="food image">
      <section class="card-content">
        <h1 class="recipe-title">pumpkin soup</h1>
        <p>type:</p>
      </section>
    </div>

    <div class="recipe-card">
      <img src="" alt="food image">
      <section class="card-content">
        <h1 class="recipe-title">chicken kebabs</h1>
        <p>type:</p>
      </section>
    </div>

    <div class="recipe-card">
      <img src="" alt="food image">
      <section class="card-content">
        <h1 class="recipe-title">vegan ham</h1>
        <p>type:</p>
      </section>
    </div>

    <div class="recipe-card">
      <img src="" alt="food image">
      <section class="card-content">
        <h1 class="recipe-title">waffles</h1>
        <p>type:</p>
      </section>
    </div>

  </section>
</div>
