<section class="application">
  {{outlet}}
  {{add-recipe}}
  <footer class="footer">
    <form class="" action="index.html" method="post">
      <input type="submit" name="" value="Search">
      <input type="text" name="" placeholder="Search for recipe">
    </form>
    <button class="add-button">Add Recipe</button>
    <button class="see-all-button">See All Recipes</button>
  </footer>
</section>
