<section class="application">
  <h1>Super Sweet Recipe App</h1>
    {{outlet}}

  <footer class="footer">
    <form class="" action="index.html" method="post">
      <input type="text" name="" placeholder="Search for recipe">
      <input type="submit" name="" value="Search">
    </form>

    {{#link-to 'all-recipes' class="see-all-button" tagName="button"}}
      See All Recipes
    {{/link-to}}

  </footer>
</section>
