<div class="recipe-detail">
  <h1>{{ model.name }}</h1>
  <section>
    <img src="" alt="food image">
  </section>
  <p>Number of Servings:</p>
  <p>Cook Time:</p>

  <section>
    <h3>Ingredients</h3>
    <ol>
      <li>1 cup something </li>
      <li>3 TBS a little something </li>
      <li>1/2c finely chopped something </li>
      <li>more something </li>
      <li>a pinch of something </li>
      <li>3c water</li>
    </ol>
  </section>

  <section>
    <h3>Directions</h3>
    <ol>
      <li>Turn on oven to 350 degrees</li>
      <li>Mix top three ingredients in a bowl</li>
      <li>Add water</li>
      <li>Set aside</li>
      <li>Mix rest of the stuff</li>
      <li>Add together</li>
      <li>Pour into baking pan</li>
      <li>Bake for 20 minutes</li>
      <li>Enjoy!</li>
    </ol>
  </section>

  <form>
    <label for="notes">
      Notes
      <input type="text" name="" value="">
    </label>
  </form>

</div>
